<!DOCTYPE html>
<html>
<head>
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Resultados da Pesquisa</h2>

    <a href="/download?senha=admin123">
        <button>📥 Baixar Excel</button>
    </a>

    <table>
        <thead>
            <tr>
                {% for col in colunas %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for linha in dados %}
                <tr>
                    {% for col in colunas %}
                        <td>{{ linha[col] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
